---
const { id } = Astro.params;
import DotsButton from "../../components/DotsButton.astro";
import EventAddress from "../../components/EventAddress.astro";
import LikeButton from "../../components/LikeButton.astro";
import PageHeader from "../../components/PageHeader.astro";
import Layout from "../../layouts/Layout.astro";
import { allPlaylists } from "../../lib/data";
import PageFooter from "../../components/PageFooter.astro";

import BannerEvents from "../../components/BannerEvents.astro";
import { playlists, morePlaylists } from "../../lib/data";

export function getStaticPaths() {
  return allPlaylists.map((playlist) => ({
    params: {
      id: playlist.id,
    },
  }));
}

const playlist = allPlaylists.find((playlist) => playlist.id === "1");

// Importa el componente ONGCard
import ONGCard from "../../components/ONGCard.astro";

// Datos de las ONGs
const ongs = [
  {
    name: "La Sonrisa Animal (LASA)",
    description:
      "La protectora a la que destinamos todos los beneficios del festival. Tendrá un puestecito donde podrás conocer su labor de rescate y adopción, además de colaborar comprando algunos de sus productos solidarios.",
    image: "/assets/images/Logo/LOGO_NEGATIVO.png",
    socialLinks: [
      {
        href: "https://www.instagram.com/lasonrisaanimal",
        icon: "fab fa-instagram",
        label: "Instagram",
      },
      {
        href: "https://www.facebook.com/lasonrisaanimal",
        icon: "fab fa-facebook",
        label: "Facebook",
      },
      {
        href: "mailto:lasonrisaanimal@gmail.com",
        icon: "fas fa-envelope",
        label: "Email",
      },
    ],
  },
  {
    name: "Mi Barrio",
    description:
      "Mi Barrio, iniciativa vecinal de Santa Justa. Fomentamos cultura, diversión y reivindicamos lo justo. ¡Únete a construir barrio! ",
    image: "/assets/images/Ongs/29.png",
    socialLinks: [
      {
        href: "https://www.instagram.com/pc.mibarrio",
        icon: "fab fa-instagram",
        label: "Instagram",
      },
      {
        href: "https://www.facebook.com/pc.mibarrio",
        icon: "fab fa-facebook",
        label: "Facebook",
      },
    ],
  },
  {
    name: "AIESEC",
    description:
      "AIESEC promueve el liderazgo juvenil y entendimiento internacional mediante intercambios en 100+ países. Como la mayor organización juvenil reconocida por la ONU, ofrece voluntariados y prácticas para desarrollo profesional e impacto social. En el stand buscan darse a conocer y ofrecer oportunidades de desarrollo a jóvenes sevillanos.",
    image: "/assets/images/Ongs/33.png",
    socialLinks: [
      {
        href: "https://www.instagram.com/lc.sevilla",
        icon: "fab fa-instagram",
        label: "Instagram",
      },
    ],
  },
  {
    name: "Rotary",
    description:
      "Rotary es una organización internacional de servicio que impulsa proyectos solidarios locales y globales, promoviendo paz, salud y educación. En el festival compartiremos información sobre nuestras actividades y pulseras, con el objetivo de dar a conocer nuestro trabajo e inspirar a más personas a unirse a nuestras iniciativas.",
    image: "/assets/images/Ongs/28.png",
    socialLinks: [
      {
        href: "https://www.instagram.com/giraldarotarysevilla",
        icon: "fab fa-instagram",
        label: "Instagram",
      },
      {
        href: "https://www.facebook.com/share/17QB5nYjMw/?mibextid=wwXIfr ",
        icon: "fab fa-facebook",
        label: "Instagram",
      },
    ],
  },
  {
    name: "Greenpeace",
    description:
      "montarán una mesa informativa para dar a conocer las campañas de greenpeace y fomentar el voluntariado. Para colaborar con el festival realizaremos un taller de chapas, donde las niñas podrán llevarse gratis una chapa con el dibujo de su mascota favorita.",
    image: "/assets/images/Ongs/31.png",
    socialLinks: [
      {
        href: "https://www.instagram.com/greenpeace_andalucia",
        icon: "fab fa-instagram",
        label: "Instagram",
      },
    ],
  },
  {
    name: "Mama Afrika",
    description:
      "¿Quiénes somos? Organización con 5+ años mejorando la vida de niños en Er-Rachidia (Marruecos). Equipo cualificado hispano-marroquí del ámbito educativo y psico-pedagógico. ¿Qué ofrecemos? Voluntariados para reformar escuelas infantiles, intercambios culturales, viajes al desierto, talleres educativos, clases de idiomas y actividades lúdicas.",
    image: "/assets/images/Ongs/27.png",
    socialLinks: [
      {
        href: "https://www.instagram.com/asociacionmamaafrika",
        icon: "fab fa-instagram",
        label: "Instagram",
      },
      {
        href: "https://asociacionmamaafrika.org/",
        icon: "fab fa-chrome",
        label: "Web",
      },
    ],
  },
  {
    name: "Asociación Saber Escuchar",
    image: "/assets/images/Ongs/34.png",
    description:
      "Nos dedicamos a la impartición de talleres para personas mayores de 60 a 90 años o más.",
    socialLinks: [
      {
        href: "https://www.asociacionsaberescuchar.org/",
        icon: "fab fa-chrome",
        label: "Web",
      },
    ],
  },
  {
    name: "Talento para el Futuro",
    image: "/assets/images/Ongs/36.png",
    description:
      "Talento para el Futuro es la primera plataforma de empoderamiento político de España. Nos dedicamos a conectar, formar y empoderar a la ciudadanía de nuestro país situándola en el centro de la participación política.",
    socialLinks: [
      {
        href: "https://www.instagram.com/alentofuturo_",
        icon: "fab fa-instagram",
        label: "Instagram",
      },
      {
        href: "https://x.com/talentofuturo_",
        icon: "fab fa-twitter",
        label: "X",
      },
    ],
  },
  {
    name: "Derecho a Morir Dignamente",
    image: "/assets/images/Ongs/35.png",
    description:
      "Te asesoramos sobre qué derechos existen al final de la vida. Te explicamos qué es y cómo formalizar el testamento vital, como iniciar una solicitud de eutanasia, cuándo y cómo pedir una sedación o cómo actuar si existe vulneración de derechos. Puedes llamarnos para resolver tus dudas: 608 153 612",
    socialLinks: [
      {
        href: "https://www.instagram.com/derechoamorir",
        icon: "fab fa-instagram",
        label: "Instagram",
      },
      {
        href: "https://derechoamorir.org/dmd-andalucia/",
        icon: "fab fa-chrome",
        label: "Web",
      },
    ],
  },
  {
    name: "OKPlanet",
    description:
      "OkPlanet es una asociación medioambiental sin ánimo de lucro nacida en Sevilla en 2021. Desarrolla limpiezas de espacios naturales, campañas educativas, reforestaciones y proyectos de sostenibilidad. Basada en la filosofía 'cada granito cuenta', promueve participación social frente al cambio climático y contribuye a los ODS, extendiendo su acción más allá de Andalucía.",
    image: "/assets/images/Ongs/30.png",
    socialLinks: [
      {
        href: "https://www.instagram.com/Okplanetsevilla",
        icon: "fab fa-instagram",
        label: "Instagram",
      },
      {
        href: "https://www.facebook.com/Okplanetsevilla",
        icon: "fab fa-facebook",
        label: "Facebook",
      },
    ],
  },
  {
    name: "Prodelvu",
    description:
      "Pertenecemos al Mercadillo Agroecológico de San Jerónimo donde tenemos un puesto de artesanía del Congo. Trabajamos en la escolarización de niñas y niños vulnerables de la Fundación Mayela en República Democrática del Congo. Nosotras mostramos abalorios y tejidos confeccionados por las familias de estas chicas y chicos que atendemos y con la venta, el dinero recaudado lo destinamos a la escolarización.",
    image: "/assets/images/Ongs/32.png",
    socialLinks: [
      {
        href: "https://www.facebook.com/p/Asociación-Prodelvu-100086105612233/ ",
        icon: "fab fa-facebook",
        label: "Facebook",
      },
    ],
  },
];
---

<Layout image={playlist?.cover} title={playlist?.title || "404"}>
  <div
    class="relative bg-zinc-900 min-h-full flex flex-col overflow-x-hidden"
    transition:name=`playlist ${playlist?.id} box`
  >
    <PageHeader />

    <!-- Información del evento -->
    <div
      class="flex flex-col items-center md:flex-row md:items-stretch gap-8 px-6"
    >
      <div class="h-52 w-52 flex-none">
        <img
          src={playlist?.cover}
          alt={playlist?.title}
          class="object-cover h-full w-full shadow-[5px_0_30px_0px_rgba(0,0,0,0.3)]"
          transition:name=`playlist ${playlist?.id} image`
        />
      </div>
      <div class="flex flex-col justify-center h-full">
        <div class="">
          <h1 class="title-clamp font-bold block mb-4">
            {playlist?.title}
            <span transition:name={`playlist ${playlist?.id} title`}></span>
          </h1>
          <p class="mt-2">
            {playlist?.description}
          </p>
        </div>
      </div>
    </div>

    <!-- Sección de ONGs -->
    <div class="px-6 py-12">
      <h2 class="text-4xl font-bold text-customYellow mb-8">
        ONGs Participantes
      </h2>
      <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
        {ongs.map((ong) => <ONGCard {...ong} />)}
      </div>
    </div>

    <div
      class="absolute h-screen inset-0 z-[-1] bg-gradient-to-b"
      style=`--context-color:${playlist?.color.accent}`
    >
      <div
        class="absolute inset-0 bg-gradient-to-t via-transparent from-zinc-900"
      >
      </div>
    </div>
  </div>
  <PageFooter />
</Layout>

<style>
  .title-clamp {
    font-size: clamp(20px, 6vw, 70px);
    line-height: 1;
  }
</style>
