---
const { id } = Astro.params;
import DotsButton from "../../components/DotsButton.astro";
import EventAddress from "../../components/EventAddress.astro";
import LikeButton from "../../components/LikeButton.astro";
import PageHeader from "../../components/PageHeader.astro";
import Layout from "../../layouts/Layout.astro";
import { allPlaylists } from "../../lib/data";
import PageFooter from "../../components/PageFooter.astro";

import BannerEvents from "../../components/BannerEvents.astro";
import { playlists, morePlaylists } from "../../lib/data";

export function getStaticPaths() {
  return allPlaylists.map((playlist) => ({
    params: {
      id: playlist.id,
    },
  }));
}

const playlist = allPlaylists.find((playlist) => playlist.id === "2");

// Importa el componente ONGCard
import ONGCard from "../../components/ONGCard.astro";

// Datos de los artistas
const artistas = [
  {
    name: "Fi",
    description:
      "Fi, una de las artistas que participar치 como Cantante tributo a Taylor Swift y Sabrina Carpenter.",
    image: "/assets/images/artistas/5.png",
    socialLinks: [
      {
        href: "https://www.instagram.com/filirinelg",
        icon: "fab fa-instagram",
        label: "Instagram",
      },
    ],
  },
  {
    name: "Rikotta de Selen",
    description:
      "Originaria de Granada, Rikotta de Selen creci칩 en un ambiente donde la m칰sica y el arte formaban parte su d칤a a d칤a. Desde peque침a, el canto ha sido su gran pasi칩n, desarrollando su voz y explorando distintos estilos a lo largo de los a침os. Actualmente apuesta por el reggaeton acumulando m치s de 1000 oyentes mensuales en Spotify y ya est치 barajando la posibilidad de sorprender a sus oyentes con nuevos estilos musicales ",
    image: "/assets/images/artistas/3.png",
    socialLinks: [
      {
        href: "https://youtube.com/@rikottadeselen?si=DzY1XdlmWH6Kim8a",
        icon: "fab fa-youtube",
        label: "youtube",
      },
      {
        href: "https://www.tiktok.com/@larikottta",
        icon: "fab fa-tiktok",
        label: "tiktok",
      },
      {
        href: "https://open.spotify.com/artist/3oSpZHknygyesxqXYJnl1z?si=WHZGYGUHQQSo0qvu-hhj-g",
        icon: "fab fa-spotify",
        label: "spotify",
      },
      {
        href: "https://www.instagram.com/arikottta  ",
        icon: "fab fa-instagram",
        label: "Instagram",
      },
    ],
  },
  {
    name: "Lucilla charla educadora canina",
    description:
      "Descubre los secretos de una relaci칩n perfecta con tu mejor amigo. Lucilla, educadora canina profesional, ofrece una charla inspiradora sobre comunicaci칩n y convivencia humano-perro. Aprende, comprende y conecta con tu compa침ero de cuatro patas. 춰Una experiencia que transformar치 vuestra vida juntos! 游눪",
    image: "/assets/images/artistas/1.png",
    socialLinks: [
      {
        href: "https://d칤asdeperros.es",
        icon: "fab fa-chrome",
        label: "web",
      },
    ],
  },
  {
    name: "Susana Chamizo Psic칩loga",
    description:
      "Estar치 disponible de 10-14h para acompa침ar en el duelo por la p칠rdida de nuestros compa침eros animales. Si alguien est치 interesado, puede preguntar al equipo organizador. ",
    image: "/assets/images/artistas/4.png",
    socialLinks: [

    ],
  },
  {
    name: "M칤a",
    description:
      "Dar치 una clase para iniciaci칩n en el yoga gratuita con posibilidad de continuar en un grupo para hacer yoga en parques.",
    image: "/assets/images/artistas/2.png",
    socialLinks: [
    ],
  },
];
---

<Layout image={playlist?.cover} title={playlist?.title || "404"}>
  <div
    class="relative bg-zinc-900 min-h-full flex flex-col overflow-x-hidden"
    transition:name=`playlist ${playlist?.id} box`
  >
    <PageHeader />

    <!-- Informaci칩n del evento -->
    <div
      class="flex flex-col items-center md:flex-row md:items-stretch gap-8 px-6"
    >
      <div class="h-52 w-52 flex-none">
        <img
          src={playlist?.cover}
          alt={playlist?.title}
          class="object-cover h-full w-full shadow-[5px_0_30px_0px_rgba(0,0,0,0.3)]"
          transition:name=`playlist ${playlist?.id} image`
        />
      </div>
      <div class="flex flex-col justify-center h-full">
        <div class="">
          <h1 class="title-clamp font-bold block mb-4">
            {playlist?.title}
            <span transition:name={`playlist ${playlist?.id} title`}></span>
          </h1>
          <p class="mt-2">
            {playlist?.description}
          </p>
        </div>
      </div>
    </div>

    <!-- Secci칩n de Artistas -->
    <div class="px-6 py-12">
      <h2 class="text-4xl font-bold text-customYellow mb-8">
        Escenario Sonrisas
      </h2>
      <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
        {artistas.map((artista) => <ONGCard {...artista} />)}
      </div>
    </div>

    <!-- Secci칩n de "Estamos trabajando en ello" -->
    <!-- <div class="px-6 py-12 text-center">
      <h2 class="text-4xl font-bold text-customYellow mb-6">Estamos trabajando en ello</h2>
      <p class="text-lg text-gray-300 mb-8">
        Estamos preparando esta secci칩n para ti. Mientras tanto, disfruta de esta imagen de un perro gracioso 游냤.
      </p>
      <div class="flex justify-center">
        <img
          src="/assets/images/perro_trabajando.jpg" 
          alt="Perro gracioso esperando"
          class="rounded-lg shadow-lg max-w-md"
        />
      </div>
    </div> -->

    <div
      class="absolute h-screen inset-0 z-[-1] bg-gradient-to-b"
      style=`--context-color:${playlist?.color.accent}`
    >
      <div
        class="absolute inset-0 bg-gradient-to-t via-transparent from-zinc-900"
      >
      </div>
    </div>
  </div>
  <PageFooter />
</Layout>

<style>
  .title-clamp {
    font-size: clamp(20px, 6vw, 70px);
    line-height: 1;
  }
</style>
