---

import { playlists } from "../lib/sorteos";

---

<div class="container mx-auto px-4 ">
  
  <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
    {playlists.map(event => (
      <div class="bg-gray-900 text-white rounded-lg overflow-hidden shadow-md flex">
        <div class="relative w-1/3">
          <img src={event.cover} alt={event.title} class="w-full h-full object-cover" transition:name=`playlist ${event.id} image` />
        </div>
        <div class="p-4 w-2/3 flex flex-col justify-between">
          <div>
            <h3 class="text-xl font-semibold mb-2" transition:name={`playlist ${event.id} title`}>{event.title}</h3>
            <p class="text-base md:text-lg text-gray-300 mb-4 leading-relaxed drop-shadow-sm hover:text-gray-200 transition-colors duration-200">{event.description}</p>
          </div>
          <a href="https://www.instagram.com/lasonrisafestival" target="_blank" rel="noopener noreferrer" class="bg-customYellow text-gray-900 font-bold py-2 px-4 rounded hover:bg-customYellowHover self-start">
            CONTACTAR EN INSTAGRAM &rarr;
          </a>
        </div>
      </div>
    ))}
  </div>
</div>
